<div class="container" *ngIf="!authservice.isLoggedIn&&!authservice.isResponssible&&!authservice.isAdmin&&!authservice.isParent" >
  <h1>Connexion</h1>
  <hr>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Utilisateur :</span>
    </div>
    <input type="text" (keyup)="onSetLogin()" class="form-control" required/>
  </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Mot de passe :</span>
      </div>
      <input type="password" (keyup)="onSetPassword()" class="form-control" required/>
    </div>

  <button (click)="onSubmit()" class="btn btn-primary">Se connecter</button>
</div>