
<button routerLink="/choixCategorie" class="btn-link btn btn-block" [disabled]="!socketMessage">
  <ngb-carousel  interval="1500" class="rounded-circle img-fluid">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/responsabilites/acheter%20.jpg" alt="Random first slide" class="rounded-circle img-fluid">
      </div>
      <div class="carousel-caption">
        <h3>viens Jouer</h3>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/deplacement/bus.jpg" alt="Random second slide" class="rounded-circle img-fluid">
      </div>
      <div class="carousel-caption">
        <h3>Viens jouer</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/loisirs/television.jpg" alt="Random third slide" class="rounded-circle img-fluid">
      </div>
      <div class="carousel-caption">
        <h3>Viens jouer</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/nutrition/dresserlatable.jpg" alt="Random third slide" class="rounded-circle img-fluid">
      </div>
      <div class="carousel-caption">
        <h3>Viens jouer</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</button>



