<div class="jumbotron">
  <div class="container-fluid">
    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="nomFamille">Nom de famille : </label>
          <div class="col-sm-10">
            <input type="text" #childNom class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label>Prénom : </label>
          <div class="col-sm-10">
            <input type="text" #childPrenom class="form-control">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Date de naissance : </label>
          <div class="col-sm-10">
            <input type="date" #childBirth class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label>Langue usuelle : </label>
          <div class="col-sm-10">
            <input type="text" #langueUsuelle class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label>Dominance : </label>
          <div class="col-sm-10">
            <select name="dominance" #dominance class="browser-default custom-select">
              <option *ngFor="let dom of dominances" [value]="dom">{{dom}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>Scolarite :</label>
          <select name='enseignement' class="browser-default custom-select" [(ngModel)]='selectedEnseignement'
            #enseignement>
            <option *ngFor='let scolarite of scolaritees' [value]="scolarite">{{scolarite}}</option>
          </select>
          <div class="form-group col-sm-10">
            <div *ngIf="selectedEnseignement == 'integration' || selectedEnseignement == 'specialise'">
              Type : <input type="text" #typeEnseignement [(ngModel)]="typeE" name="type" placeholder="Type"
                class="form-control" />
            </div>
            Niveau : <input type="text" #niveauScolaire placeholder="Niveau" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-row">
        <div *ngFor="let obj of dataarray; let i=index" name="info_contact_plus">
          <div class="form-row">
            <div class="form-group">
              <label>Prenom : </label>
              <input [(ngModel)]="obj.prenom" placeholder="Prénom du contact" name="prenom{{i}}" class="form-control" />
            </div>
            <div class="form-group">
              <label>Nom : </label>
              <input [(ngModel)]="obj.nom" placeholder="Nom du contact" name="nom{{i}}" class="form-control" />
            </div>
          </div>
          <label>Telephone : </label>
          <input type="tel" [(ngModel)]="obj.telephone" name="telephone{{i}}" placeholder="Telephone du contact"
            class="form-control">

          <label>Email : </label>
          <input type="email" [(ngModel)]="obj.email" name="email{{i}}" placeholder="Email du contact"
            class="form-control">

          <label>Relation : </label>
          <select name='relation_contact' class="browser-default custom-select" [(ngModel)]="obj.relation" #relation>
            <option *ngFor='let relation of relations' [value]='relation'>{{relation}}</option>
          </select>
          <div class="form-group col-sm-10">
            <div *ngIf="obj.relation === 'autre'">
              Autre : <input type="text" #a [(ngModel)]="autreRelation" name="aut" class="form-control" />
            </div>
          </div>
          <!--

                <select name='enseignement' class="browser-default custom-select" [(ngModel)]='selectedEnseignement'
                    #enseignement>
                    <option *ngFor='let scolarite of scolaritees' [value]="scolarite">{{scolarite}}</option>
                </select>
                <div class="form-group col-sm-10">
                    <div *ngIf="selectedEnseignement == 'integration' || selectedEnseignement == 'specialise'">
                        Type : <input type="text" #typeEnseignement [(ngModel)]="typeE" name="type" placeholder="Type"
                            class="form-control" />
                    </div>
                    Niveau : <input type="text" #niveauScolaire placeholder="Niveau" class="form-control" />
                </div>

                -->

          <div *ngIf="i!=0">
            <span class="btn btn-danger" (click)="supprimerChamp(i)">Supprimer</span>
          </div>
          <span class="btn btn-primary" (click)="ajouterContact()">Ajouter contact</span>
        </div>

      </div>

      <div>
        <label>Besoins :
          <select name="besoinsChoisis" class="browser-default custom-select" [(ngModel)]='selectedBesoins' #mult
            multiple>
            <option *ngFor="let besoin of besoins" [value]="besoin">{{besoin}}
            </option>
          </select>

          <div *ngIf="selectedBesoins.indexOf('Autre')>=0" class="form-group col-sm-10">
            Autre : <input type="text" [(ngModel)]="autreBesoin" name="a" #autre class="form-control">
          </div>
        </label>
      </div>

      <!--<div>
            Professionnel : 
            <select class="browser-default custom-select" #professionnel>
                <option *ngFor="let prof of professionnels" [value]="prof._id">{{prof.prenom}} {{prof.nom}}</option>
            </select>
            <input type="text" #professionnel class="form-control" placeholder="Dr. Jean.." />
        </div>-->
      <br>

      <button class="btn btn-primary" (click)="add(childNom.value, childPrenom.value, childBirth.value,langueUsuelle.value,dominance.value,
                    enseignement.value,niveauScolaire.value);
                        childNom.value='';
                        childPrenom.value='';
                        childBirth.value='';
            
                        ">
        Inscrire</button>
      <br>

    </form>
    <!--,dominance.value,
            enseignement.value,type.value,niveauScolaire.value,
            mult.value,professionnel.value,autre.value-->
  </div>
</div>
