<h1>Tu as choisi la catégorie : {{choixCat}} ! </h1>
<!---- <div *ngFor="let filtre of ordreFiltre" class="mainFrame">
    <h2>{{filtre}}</h2>
<img [src]="images[index].nom">
<img src="/images/deplacements/bus.jpg">
<img class="logo" [src]="(imgPath + imgFileName)" />

<div class="reponse">
    <button class="btn btn-primary" (click)="onOui()">Oui</button>
    <button class="btn btn-primary" (click)="onNon()">Non</button>
    <button class="btn btn-primary" (click)="onJsp()">Je ne sais pas</button>
</div>
</div>
-->

<div *ngIf="isOnAime" class="align-items-lg-center">
  <small class="text-muted"><h2>Est-ce que j'aime..</h2></small>
    <img [src]="tabImageJeu[indexImage]" class="rounded-circle img-fluid">
 <!-- <p><ngb-progressbar type="success" [value]="[indexImage]*(100/[tabImageJeu.length])" [striped]="true"></ngb-progressbar></p>-->
</div>
<div *ngIf="isOnAide" class="align-items-lg-center">
    <!-- <app-filtre-aide ></app-filtre-aide> -->
  <small class="text-muted"><h2>Est-ce que j'ai besoin d'aide..</h2></small>
    <img [src]="tabImageJeu[indexImage]" class="rounded-circle img-fluid">
 <!-- <p><ngb-progressbar type="success" [value]="[indexImage]*(100/[tabImageJeu.length])" [striped]="true"></ngb-progressbar></p>-->
</div>
<div *ngIf="isOnContent" class="align-items-lg-center">
  <small class="text-muted"><h2>Est-ce que je suis content..</h2></small>
    <img [src]="tabImageJeu[indexImage]" class="rounded-circle img-fluid">
 <!-- <p><ngb-progressbar type="success" [value]="[indexImage]*(100/[tabImageJeu.length])" [striped]="true"></ngb-progressbar></p>-->
</div>

<div class="reponse" class="align-content-lg-center">
   <button class="btn btn-success btn-rounded" (click)="onOui()">Oui</button>
    <button class="btn btn-danger btn-rounded" (click)="onNon()">Non</button>
   <button class="btn btn-warning btn-rounded" (click)="onJsp()">Je ne sais pas</button>
</div>
