<div class="container">
    <h4><strong>Bienvenue cher utilisateur !</strong></h4>
    <hr>
    <ul class="list-group">
        <li class="list-group-item"><strong>Gérer un enfants: </strong>Permet de gérer les enfants</li>
        <li class="list-group-item"><strong>Inscrire un enfant: </strong>Permet d'inscrire un enfant</li>
        <li class="list-group-item"><strong>Gestion professionnelle: </strong>Onglet permettant de gérer les professionnels de l'association </li>
        <li class="list-group-item"><strong>Configurer un jeu: </strong>Onglet permettant de configurer et de démarrer une partie avec un enfant</li>
        <li class="list-group-item"><strong>Consulter l'historique d'une partie</strong>Onglet permettant de voir l'historique et d'ajouter des commentaires</li>
    </ul>
</div>
